body {
    font-family: Arial, sans-serif;
    background: #635353
}
.container {
    width: 300px;
    margin: 100px;
    background: rgb(161, 116, 116);
    padding: 20px;
    border-radius: 8px;
}
.input-area {
    flex: 1;
    padding: 8px;
}
button {
    padding: 8px;
    cursor: pointer;
}
li {
    list-style: none;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.completed {
    text-decoration: line-through;
    color: rgb(204, 14, 14);
}
span {
    flex: 1;
}